<h3>Add a brand</h3>

<form action="/brands/new" method="post">

  <label for="name">Brand Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add brand</button>
</form>
