<!DOCTYPE html>
<html>
  <head>
    <title>Shoe Distribution</title>
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <%= yield %>
      <hr>
      <div class="container">
        <button><a href="/stores/new">Add New Store</a></button>
        <button><a href="/brands/new">Add New Brand</a></button>
      </div>
    </div>
  </body>
</html>
